.background_image_1{
    position: absolute;
    top: 0;
    z-index: -100;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
    clip-path: polygon(0 0, 0 90%, 100% 60%, 100% 0);
}
.groupCategoryButtons {
    display: flex;
    /*justify-content: space-around;*/
    justify-content: center;
}
.categoryButton {
    background-color: #BF0000;
    color: white;
    background-color: #BF0000;
    color: white;
    width: 10em;
    height: 2em;
    font-size: 20px;
    border-radius: 20px;
    margin: 1em;
}