.package{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.package .button-scroll{
    z-index: 1;
    height: 100%;
}

.package-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    transition: 0.5s;
    height: 70%;
}
